/*------------------------------------------------------------------------------------------------------------------------
 @package: homepage (app)

 @author: matthew cobb
 @www: www.reedsy.com
 @github: contact@matthewcobb.co.uk

 @twitter: SGoresht

 @copyright: COPYRIGHT 10-15-2014 reedsy
 =============================================================================
 Filename: _grids.scss
 =============================================================================
 This file is responsible for all grid logic in the homepage app.  Styles should be compiled using compass and sass (make sure SUSY is installed).
 --------------------------------------------------------------------------------------------------------------------- */

@import "compass/css3";
@import "variables.scss";
@import "susy";
@import "breakpoint";

@function col-name($n) {
/* Use naming consistent with original 1140x Grid V2 */
	$col-name: $homepageColumnNotation; //default

	@if $n == 1  {
		$col-name: one;
	}
	@if $n == 2  {
		$col-name: two;
	}
	@if $n == 3  {
		$col-name: three;
	}
	@if $n == 4  {
		$col-name: four;
	}
	@if $n == 5  {
		$col-name: five;
	}
	@if $n == 6  {
		$col-name: six;
	}
	@if $n == 7  {
		$col-name: seven;
	}
	@if $n == 8  {
		$col-name: eight;
	}
	@if $n == 9  {
		$col-name: nine;
	}
	@if $n == 10 {
		$col-name: ten;
	}
	@if $n == 11 {
		$col-name: eleven;
	}
	@if $n == 12 {
		$col-name: twelve;
	}
	@if $n == 13 {
		$col-name: thirteen;
	}
	@if $n == 14 {
		$col-name: fourteen;
	}
	@if $n == 15 {
		$col-name: fifteen;
	}
	@if $n == 16 {
		$col-name: sixteen;
	}
	@return $col-name#{$homepageColumnNotation};
}

@function relativeColName($n, $homepageNum-cols) {
	$colClassFloat: $homepageNum-cols / $n;
	@return round($colClassFloat);
}

%col {
	@extend %transition-all;
}

@for $i from 1 through ($homepageNum-cols) {
	%#{col-name($i)} {
		@extend %col;
	}

	%#{$homepageRowNotation} {
		%#{col-name($i)}:last-child {
			@extend %last !optional;
			@include span-columns($i omega, $homepageNum-cols);
		}
	}

	%#{col-name($i)} {
		@if $i == $homepageNum-cols {
			@include span-columns($i omega, $homepageNum-cols);
		}
		@else {
			@include span-columns($i, $homepageNum-cols);
		}
	}
}

.container {
	@include container;
	@extend %border-box;
	%#{$homepageRowNotation} {
		width: $homepageContainer-width;
		margin: 0 auto;
		@extend %overflow-hidden;
		@extend %padding-none;
		@extend %border-box;

		&.extended-height {
			@extend %overflow-visible;
		}
	}
}

%last {
	margin-right: 0;
}