/*------------------------------------------------------------------------------------------------------------------------
 @package: homepage (app)

 @author: matthew cobb
 @www: www.reedsy.com
 @github: contact@matthewcobb.co.uk

 @twitter: SGoresht

 @copyright: COPYRIGHT 10-15-2014 reedsy
 =============================================================================
 Filename: _mixins.scss
 =============================================================================
 This file is responsible for all mixins in the homepage app.  Styles should be compiled using compass and sass.
 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
Visibility Mixins
========================================================================== */
@mixin visuallyhidden { //useful for within a media query
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	left: -500%;
}