/*------------------------------------------------------------------------------------------------------------------------
 @package: homepage (app)

 @author: matthew cobb
 @www: www.reedsy.com
 @github: contact@matthewcobb.co.uk

 @twitter: SGoresht

 @copyright: COPYRIGHT 10-15-2014 reedsy
 =============================================================================
 Filename: _variables.scss
 =============================================================================
 This file is responsible for all variables in the homepage app.  Styles should be compiled using compass and sass.
 --------------------------------------------------------------------------------------------------------------------- */

@import "compass/css3/pie";
@import "compass/css3";

/* =============================================================================
CSS3 PIE
========================================================================== */
$pie-enabled: false !default;
$pie-behavior: url("/css/PIE.htc");
$pie-base-class: pie-element;

$homepageMultiplier: 1.3 !default;
$homepageMultiplierLarge: $homepageMultiplier * 2.1 !default;
$homepageMultiplierSmall: $homepageMultiplier / $homepageMultiplierLarge !default;

$homepageMultiplierLargePercentage: $homepageMultiplierLarge * 10%;

/* =============================================================================
Sizes and Spacing
========================================================================== */

/* Padding */
$homepagePadding: 1em !default;
$homepagePaddingLarge: $homepagePadding * $homepageMultiplier;
$homepagePaddingSmall: $homepagePadding / $homepageMultiplier;
$homepagePaddingMini: $homepagePadding / $homepageMultiplierLarge;

/* Margin */
$homepageMargin: 1em !default;
$homepageMarginSmall: $homepageMargin / $homepageMultiplier;
$homepageMarginLarge: $homepageMargin * $homepageMultiplierLarge;
$homepageMarginMini: $homepageMarginSmall / $homepageMultiplierLarge;

/* =============================================================================
Grid
========================================================================== */
$homepageNum-cols: 12 !default;
$homepageRowWidth: 100% !default;
$homepageContainer-lateral-padding: $homepagePadding !default;
$homepageCol-margin-right: 3.8% !default;
$homepageCol-unit: (($homepageRowWidth + $homepageCol-margin-right) / $homepageNum-cols) !default;

$homepageRowNotation: row !default;
$homepageColumnNotation: col !default;

$homepageContainer-width: $homepageRowWidth;
$homepageTotal-columns: $homepageNum-cols;
$homepageColumn-width: 4% !default;
$homepageGutter-width: 2% !default;
$homepageGrid-padding: 0% !default; //rows should take up the whole screen
$homepageFrom-direction: left;

$homepageContainer-style: fluid;

//Turn off media-query fallback output for non-IE stylesheets.
$homepageBreakpoint-ie-output: true;
/* =============================================================================
Type
========================================================================== */
$homepageFontURL: "http://fonts.googleapis.com/css?family=Open+Sans:400,300"; //google font url.  Imported at _type.scss
$homepageEm: 1em !default;
$homepageBaseFontSize: 100% !default;
$homepageBaseFontFamily: "Open Sans", "sans-serif", "arial" !default;
$homepageFontSizeSmall: ($homepageBaseFontSize / $homepageMultiplierSmall) !default;
$homepageFontSizeMedium: ($homepageBaseFontSize * $homepageMultiplier) !default;
$homepageFontSizeLarge: ($homepageBaseFontSize * $homepageMultiplierLarge) !default;
$homepageFontSizeMini: ($homepageBaseFontSize / $homepageMultiplierLarge) !default;
$homepageLineHeight: 1.4 !default;

$homepageHeadingFontWeight: 300 !default;
$homepageBaseFontWeight: 500 !default;

$homepageBorderRadius: ($homepageMargin / $homepageMultiplierLarge) !default;
$homepageBorderRadiusSmall: ($homepageBorderRadius / $homepageMultiplier) !default;
$homepageBorderRadiusLarge: ($homepageBorderRadius * $homepageMultiplierLarge) !default;

/* Transitions*/
$homepageTransitionTime: 0.5s !default; //global transition time
$homepageTransitionFunction: ease !default; //transition function for CSS3 transitions
/* =============================================================================
Colours
========================================================================== */
$homepageTextColour: #000 !default;
$homepageInverseTextColour: invert($homepageTextColour) !default;
$homepagePrimaryColour: #CCC !default; // colour of text and main colour overall
$homepageSecondaryColour: #0f0f0f !default; // colour of any components, backgrounds, etc.
$homepageTertiaryColour: #7c7c7c !default; //special colour to complement secondary colour
//background colour.  Should be the opposite of primary colour for good results
$homepageBodyBackground: $homepageInverseTextColour !default;

/* Links */
$homepageLinkColour: contrast-color($homepageTextColour, lighten($homepageTextColour, 30), darken($homepageTextColour, 30), 40%);

/* =============================================================================
Borders
========================================================================== */
$homepageBorderWidth: 1px !default;
$homepageBorderStyle: solid !default;
$homepageBorderColour: fade-out(lighten($homepageTextColour, 80%), 0.5) !default;
$homepageBorder: $homepageBorderWidth $homepageBorderStyle $homepageBorderColour;

/* =============================================================================
Media query variables
========================================================================== */
$homepageBreakpointMain: (screen) (max-width 767px);
$homepageQueryIphone3: (only screen) (min-device-width 320px) (max-device-width 480px) (1 -webkit-device-pixel-ratio);
$homepageQueryIphone3Portrait: (only screen) (min-device-width 320px) (max-device-width 480px) (1 -webkit-device-pixel-ratio) (orientation portrait);
$homepageQueryIphone3Landscape: (only screen) (min-device-width 320px) (max-device-width 480px) (1 -webkit-device-pixel-ratio) (orientation landscape);
