@media only screen and (min-width: 600px){
	.logo{
		width:500px;
		top:370px;
	}
	.logo h1{
		margin:0px 0 0px 20px;
		position: relative;
		top:-12px;
		font-size:100pt;
	}
	.reedsy-logo{margin:0 0 0px 0px;}

	.nav{display:block;}

	header{	
		background: url("../img/header/large.jpg") center no-repeat;
		@include image-2x("../img/header/large-x2.jpg");
		height:1200px;
		background-size:cover;
	}
}